*.lnk
.ipynb_checkpoints/(Genetics)_Omnigenic_inheritance-checkpoint.md
.ipynb_checkpoints/(Genetics)_Omnigenic_inheritance-checkpoint.html
Tiddly_papers.html_backup/Tiddly_papers.20190805045600678.html
Tiddly_papers.html_backup/Tiddly_papers.20190805045827014.html
Tiddly_papers.html_backup/Tiddly_papers.20190805045842767.html
Tiddly_papers.html_backup/Tiddly_papers.20190805045943080.html
Tiddly_papers.html_backup/Tiddly_papers.20190805050014828.html
Tiddly_papers.html_backup/Tiddly_papers.20190805050122203.html
Tiddly_papers.html_backup/Tiddly_papers.20190805050153307.html
Tiddly_papers.html_backup/Tiddly_papers.20190805050901441.html
Tiddly_papers.html_backup/Tiddly_papers.20190805050921968.html
Tiddly_papers.html_backup/Tiddly_papers.20190805050939763.html
Tiddly_papers.html_backup/Tiddly_papers.20190805053853728.html
Tiddly_papers.html_backup/Tiddly_papers.20190805053913100.html
